<header class="header">
    <nav class="navbar">
        <a href="/" class="nav-link">Главная</a>
        <a href="/1" class="nav-link">Услуги</a>
        <a href="/booking" class="nav-link">Забронировать</a>
        <a href="/3" class="nav-link">О нас</a>
    </nav>
</header>