body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}



.header {
  color:#333;
  background-color: #ffffff;
  text-align: center;
  padding: 5  px 0;
  position:sticky;
  top: 0;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: center;
}

.menu-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
}

.menu-item, .menu-list {
  position: relative;
  padding: 8px;
  border: 0;
  outline: 0;
  background: transparent;
  font-weight: inherit;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
}

.menu-item{
  line-height: 1;
}

a, a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none  ;
}

.menu-item::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(48, 48, 49);
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
}

.menu-item:hover::after{
  width: 100%;
  left: 0;
}

.carousel{
  display: flex;
  flex-wrap: wrap;
}

.carousel-slide{
  width: 450px;
  height: 450px; 
  background-color: #ccc; 
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  flex: 1;
  margin: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section img {
  max-width: 100%;
}

.section p {
  margin-top: 10px;
 
}

.section a{
  display: inline-block;
  
  width: auto;
  min-width: 140px;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 18px 40px;
  overflow: hidden;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  border: 1px solid black;
  border-radius: 100px;
  outline: none;
  background: white;
  color: black;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

.section a:hover {
  border-color: transparent;
  background: black;
  color: white;
}

.color-block {
  width: 280px;
  height: 450px; 
  background-color: #ccc; 
}

.color-block img{
  width: 280px;
  height: 450px; 
  border: 5px white solid;
}



.content {
  background-color: pink;
  height: auto;
  width: auto;
  text-align: center;
}

.block {
  background-color: blue;
  height: 40px;
  width: 100px; 
  margin: 10px 0;
  justify-content: center;
}

.contact-block{
  text-align:justify;
}

.contact-block p{
  text-decoration: dotted;
  font-size: 18px;
}

.separator {
  padding: 15px 0;
  margin-top: 1px;
  background-color: #ffffff;
  border-bottom: 1px solid black;
}

.block:hover{
  background-color: aqua;
  cursor: pointer;
  height: 45px;
  width: 110px;
  animation: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.main-content {
  text-align: center;
  padding: 20px;
  flex: 1; 
  max-width: 100%;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}


.modal-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  z-index: 9999;
  cursor: zoom-out; 
}


#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  border: 1px black solid;
  transition: opacity 0.3s;
}



#scrollToTopBtn:hover {
  opacity: 0.7;
}


table {
  width: 100%; 
   border-collapse: collapse; 
  margin-bottom: 20px;
}


th, td {
  border: 2px solid #ddd; 
  padding: 3px; 
  text-align: center; 
  cursor: pointer;
}


.available {
  background-color: #56e65b; 
}


.booked {
  background-color: #f86776; 
}


#schedule-tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}


.schedule-table {
  width: 18%; 
  margin-bottom: 20px;
}


.selected-hall-1 {
  background-color: #FFD700; 
}

.selected-hall-2 {
  background-color: #00ffff; 
}

.selected-hall-3 {
  background-color: #0062ff; 
}


.tooltip {
  display: none;
  position: absolute;
  background-color: black;
  color: rgb(20, 20, 20);
  padding: 5px;
  border-radius: 5px;
}

.available:hover {
  background-color: rgba(0, 128, 0, 0.253);
  
}

#booking-info{
  flex-wrap: wrap;
  font-size: 12pt;
}


#bookingForm {
  max-width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

#bookingForm label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

#bookingForm input[type="text"],
#bookingForm input[type="tel"],
#bookingForm input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#bookingForm input[type="submit"] {
  display: inline-block;
  
  width: auto;
  min-width: 140px;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 18px 40px;
  overflow: hidden;
  transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
  border: 1px solid black;
  border-radius: 100px;
  outline: none;
  background: white;
  color: black;
  font-size: 12px;
  letter-spacing: 0.2em;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}

#bookingForm input[type="submit"]:hover {
  background-color: #000000;
  color: whitesmoke;
}

#bookingForm input[type="submit"]:focus {
  outline: none;
}

#bookingForm input[type="submit"]:active {
  background-color: #000000;
}

.schedule-container {
  flex: 1;
  margin-right: 20px;
}

.form-container {
  flex: 1;
}
.schedule-table {
  margin-bottom: 10px;
}


.container-td {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Отступ снизу для разделения от других элементов */
}

/* Стили для метки */
.select-label {
  margin-right: 10px; /* Отступ справа для разделения от выпадающего списка */
  font-size: 16px; /* Размер шрифта */
  font-weight: bold; /* Жирный шрифт */
}

/* Стили для выпадающего списка */
#hall-select {
  padding: 8px 12px; /* Поля вокруг текста */
  font-size: 16px; /* Размер шрифта */
  border: 2px solid #ccc; /* Граница */
  border-radius: 5px; /* Скругление углов */
  outline: none; /* Убираем обводку при фокусе */
  transition: border-color 0.3s; /* Плавное изменение цвета границы при фокусе */
}

/* Стили для опций выпадающего списка */
#hall-select option {
  font-size: 16px; /* Размер шрифта */
}

/* Стили для изменения внешнего вида выпадающего списка при фокусе */
#hall-select:focus {
  border-color: #007bff; /* Цвет границы при фокусе */
}