<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <title>Залы</title>
    
</head>
<body>
    
    <main class="main-content">
        <%- include ('blocks/header')-%>
        <div class="separator"></div>
        <p>Выберите зал, который лучше всего соответствует вашему видению и целям фотосъемки, и дайте вашим идеям воплотиться в жизнь с нашей помощью!</p>
        <div class="container">
            <div class="section">
                <div class="color-block"><img src="/img/tokio/1.jpg" alt=""></div>
                <p><a href="#1">Зал "Токио"</a></p>
            </div>
            <div class="section">
                <div class="color-block"><img src="/img/pekin/1.jpg" alt=""></div>
                <p><a href="#2">Зал "Пекин" </a></p>
            </div>
            <div class="section">
                <div class="color-block"><img src="/img/seul/1.jpg" alt=""></div>
                <p><a href="#3">Зал "Сеул" </a></p>
            </div>
        </div>
        <div id="1" class="separator"></div>
        <br><br>
        <h1 >Токио</h1>
        
        <div class="container">
            <p><b>Зал "Токио"</b> - это современное пространство, наполненное светом и воздухом. Минималистичный дизайн и чистые линии создают атмосферу умиротворения, идеальную для съемки портретов или модных проектов. Огромные окна заполняют помещение естественным светом, а цветовая палитра зала спокойна и нейтральна, что позволяет создавать разнообразные образы без лишних деталей. Зал "Токио" - идеальное место для тех, кто ценит простоту и функциональность.</p>
            <br>
            <div class="section"></div>
            <div class="owl-carousel owl-theme">
                <div class="section">
                    <div class="color-block" style="background-color: #ff0000"><img src="/img/tokio/1.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/tokio/2.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/tokio/3.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/tokio/4.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/tokio/5.jpg" alt=""></div>
                </div>
                 <div class="section">
                    <div class="color-block"><img src="/img/tokio/6.jpg" alt=""></div>
                </div>  
            </div>
            
            <div class="section">
                <h1>1500 руб./час</h1>
                <p> <a href="/booking">Забронировать</a></p>
            </div>
        </div>
        <div id="2" class="separator"></div>
        <br><br>
        <h1>Пекин</h1>
        <div class="container">
            <p>В зале <b>"Пекин"</b> каждая деталь пропитана элегантностью и изысканностью. Выразительные элементы декора и изящные фурнитуры создают атмосферу роскоши и утонченности. Здесь преобладают пастельные оттенки и нежные текстуры, которые придают фотографиям особую глубину и эмоциональность. А наличие циклорамы в этом зале позволяет организовывать профессиональную съемку для рекламных кампаний или коммерческих проектов, где важна каждая деталь.</p>
            <br>
            <div class="section"></div>
            <div class="owl-carousel owl-theme">
                <div class="section">
                    <div class="color-block" style="background-color: #ff0000"><img src="/img/pekin/1.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/pekin/2.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/pekin/3.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/pekin/4.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/pekin/5.jpg" alt=""></div>
                </div> 
            </div>
            <div class="section">
                <h1>1300 руб./час</h1>
                <p> <a href="/booking">Забронировать</a></p>
            </div>
        </div>
        <div id="3" class="separator"></div>
        <br><br>
        <h1>Сеул</h1>
        <div class="container">
            <p> <b>Зал "Сеул"</b> - это пространство современных технологий и стильного дизайна. Этот зал идеально подходит для коммерческих фотосъемок благодаря своей универсальности и функциональности. Он оборудован высокотехнологичным освещением, которое позволяет создавать яркие и выразительные снимки. Большие зеркала и просторное пространство делают его удобным для организации съемок моделей или товаров. Здесь можно легко реализовать любую коммерческую идею, создавая привлекательные и запоминающиеся образы.</p>
            <br>
            <div class="section"></div>
            <div class="owl-carousel owl-theme">
                <div class="section">
                    <div class="color-block"><img src="/img/seul/1.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/seul/2.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/seul/3.jpg" alt=""></div>
                </div>
                <div class="section">
                    <div class="color-block"><img src="/img/seul/4.jpg" alt=""></div>
                </div>
                 <div class="section">
                    <div class="color-block"><img src="/img/seul/5.jpg" alt=""></div>
                </div>  
            </div>
            <div class="section">
                <h1>1700 руб./час</h1>
                <p> <a href="/booking">Забронировать</a></p>
            </div>
        </div>
        
        <button id="scrollToTopBtn" title="Вернуться наверх">&#8593;</button>
        
       


    </main>

    <%- include('blocks/footer') -%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/scripts/test.js"></script>
</body>
</html>