<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>OOOPS!</title>
</head>
<body>
    <%- include ('blocks/header')-%>
    <main class="main-content">
        <h4>Возможно вы потерялись и зашли туда, куда не стоит...</h4>
        <div style="display: flex; justify-content: center; align-items: center; height: 5  0vh;"><img src="/img/404.jpg" alt=""></div>
        <h4>Поэтому возвращайтесь назад, чтобы...</h4>
        <div class="section">
            <p> <a href="/halls">Посмотреть наши залы</a></p>
            <p> <a href="/booking">Пререйти к бронированию Залов</a></p>
        </div>

    </main>
    <%- include('blocks/footer') -%>
</body>
</html>