<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <title>Услуги</title>   
</head>
<body>
    <main class="main-content">
        <%- include ('blocks/header')-%>
        <div class="separator"></div>
        <h1>Раздел в разработке, но Вы можете...</h1>
        <div class="section">
            <p> <a href="/halls">Посмотреть наши залы</a></p>
        </div>
        <h1>Или...</h1>
        <div class="section">
            <p> <a href="/booking">Пререйти к бронированию Залов</a></p>
        </div>
        <button id="scrollToTopBtn" title="Вернуться наверх">&#8593;</button>
    </main>

    <%- include('blocks/footer') -%>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/scripts/test.js"></script>
</body>
</html>